<html>
  <head>
    <title>imgin - login page</title>
    <meta http-equiv="refresh" content="5;{{url_for('thread',postID=postID)}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="container" style="color: rgb(32, 195, 0)">

      BUMP LIMIT REACHED REDIRECTING

      
    </div>
  </body>
</html>